<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/client-profile-style.css}">
</head>
<body>
<header>
    <div class="container">
        <h1>Client Profile</h1>
    </div>
</header>

<div class="container">
    <div class="profile-card">
        <h2>Personal Information <a th:href="@{/client/form}">Edit</a></h2>
        <div class="profile-info" th:object="${client}">
            <p th:text="|Name: *{name}|"><span class="label">Name:</span></p>
            <p th:text="|Email: *{email}|"><span class="label">Email:</span></p>
            <p th:text="|Balance: *{balance}|"><span class="label">Balance:</span> <span class="balance"></span>$</p>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2023 Company Name. All rights reserved.</p>
</footer>
</body>
</html>