<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Client Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/client-edit-style.css}">
</head>
<body>
<div class="container">
    <h1>Edit Client Profile</h1>
    <form id="clientProfileForm" th:method="post" th:action="@{/client/edit}" th:object="${client}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}">

        <label for="balance">Balance:</label>
        <input type="number" id="balance" name="balance" step="0.05" th:field="*{password}">

        <button type="submit">Save Changes</button>
    </form>
</div>
</body>
</html>