<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о клиентах</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/clientsInfo-style.css}">
</head>
<body>
<div class="container">
    <h1>Information about clients</h1>
    <div th:each="client : ${clients}" class="client-list">
        <div class="client-card">
            <h2 th:text="'Name: ' + ${client.name}">Ivan Ivanov</h2>
            <p th:text="'Email: ' + ${client.email}"> ivan@example.com</p>
            <p th:text="'Balance: ' + ${client.balance}">Balance: 342342342</p>
            <form th:action="@{/list/delete-client/{name}(name=${client.email})}" th:method="post">
                <button type="submit" class="delete-button">Delete Client</button>
            </form>
        </div>
    </div>

    <div class="pagination">
        <a th:if="${currentPage > 0}" th:href="@{/list/clients(page=${currentPage - 1}, size=${size})}">Previous</a>
        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
            <a th:href="@{/list/clients(page=${i}, size=${size})}" th:classappend="${i == currentPage} ? 'current' : ''"
               th:text="${i + 1}">1</a>
        </span>
        <a th:if="${currentPage < totalPages - 1}" th:href="@{/list/clients(page=${currentPage + 1}, size=${size})}">Next</a>
    </div>
</div>
</body>
</html>
