<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/employee-edit-style.css}">
</head>
<body>
<div class="container">
    <h1>Edit Employee Profile</h1>
    <form th:action="@{/employee/edit}" method="post" th:object="${employee}">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}">

        <label for="birthdate">Birth Date:</label>
        <input type="date" id="birthdate" name="birthdate" th:field="*{birthdate}">

        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" th:field="*{phone}">

        <button type="submit">Save Changes</button>
    </form>
</div>
</body>
</html>