<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register-style.css}"/>
</head>
<body>
<div class="container">
    <h2>Create an Account</h2>
    <label for="userType"></label><select id="userType" name="userType" onchange="toggleForms()">
        <option value="select">Select user type</option>
        <option value="employee">Employee</option>
        <option value="client">Client</option>
    </select>

    <form id="employeeForm" th:action="@{/thyme/register/employee}" method="post" th:object="${employeeReq}" style="display:none;">
        <label for="employeeName"></label><input type="text" id="employeeName" th:field="*{name}" placeholder="Name" required>
        <label for="employeeEmail"></label><input type="email" id="employeeEmail" th:field="*{email}" placeholder="Email" required>
        <label for="employeePassword"></label><input type="password" id="employeePassword" th:field="*{password}" placeholder="Password" required>
        <label for="employeeBirthdate"></label><input type="date" id="employeeBirthdate" th:field="*{birthdate}" placeholder="Birth Date" required>
        <label for="employeePhone"></label><input type="tel" id="employeePhone" th:field="*{phone}" placeholder="Phone" required>
        <button type="submit">Register Employee</button>
    </form>

    <form id="clientForm" th:action="@{/thyme/register/client}" method="post" th:object="${clientReq}" style="display:none;">
        <label for="clientName"></label><input type="text" id="clientName" th:field="*{name}" placeholder="Name" required>
        <label for="clientEmail"></label><input type="email" id="clientEmail" th:field="*{email}" placeholder="Email" required>
        <label for="clientPassword"></label><input type="password" id="clientPassword" th:field="*{password}" placeholder="Password" required>
        <label for="clientBalance"></label><input type="number" id="clientBalance" th:field="*{balance}" placeholder="Balance" step="0.01" required>
        <button type="submit">Register Client</button>
    </form>

    <div class="login-link">
        Already have an account? <a th:href="@{/login}">Login</a>
    </div>
    <a th:href="@{/home}" class="home-button">Return to Home</a>
</div>

<script>
    function toggleForms() {
        const userType = document.getElementById('userType').value;
        const employeeForm = document.getElementById('employeeForm');
        const clientForm = document.getElementById('clientForm');

        employeeForm.style.display = userType === 'employee' ? 'block' : 'none';
        clientForm.style.display = userType === 'client' ? 'block' : 'none';
    }
</script>
</body>
</html>